.sign-in{
    width: 25vw;
    display: flex;
    flex-direction: column;

    .title{
        margin: 10px 0;
    }

    .login-google-style{
        height: 50px;
        cursor: pointer;
        position: relative;
        bottom: 43px;
        left: 80px;
    }
}